body {
    background-color: #000000;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: rgb(0, 255, 0); 
    font-size: 60px;
    text-align: center;
}

p {
    color: rgb(0, 255, 0); 
}

h2 {
    color: rgb(0, 255, 0); 
    font-size: 24px;
    text-align: center;
}

h3 {
    color: rgb(0, 255, 255);
    font-size: 18px;
    text-align: left;
}

a {
    color: rgb(0, 0, 255);
    text-decoration: none;
    
}

a:hover {
    color:rgb(255, 0, 208);
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:visited:hover {
    color:red;
}