body {
    background-color: rgb(0, 1, 70);
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    width: 90%; /* Adjust as needed */
    margin: 0 auto; /* Centers the wrapper */
    text-align: left; /* Keeps the text left-aligned */
}

header {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    vertical-align: middle;
    height: 100px;
    margin-right: 10px;
}

.line {
    border: 1px solid white; /* Adjust the color and thickness as needed */
    margin-top: 20px;
    margin-bottom: 40px;
}

.content {
    margin: 20px;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 30px; /* Space between columns */
    margin-bottom: 40px; /* Adds space between sections */
}

.reverse {
    grid-template-areas: "text image"; /* Position text and image */
}

.reverse .text-content {
    grid-area: text;
}

.reverse .p2 {
    grid-area: image;
}

.home, .p2 {
    width: 100%; /* Adjust size as needed */
    height: auto;
    background-color: white; /* Add a background color for visibility */
}

.text-content {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin: 0; /* Remove default margin */
}

.text-content p {
    margin-top: 10px; /* Add space between h2 and p */
    margin-bottom: 20px; /* Add space between paragraphs */
    line-height: 2.2; /* Adjust line height for better readability */
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.text-content p br {
    content: "";
    display: block;
    margin-bottom: 20px; /* Adjust as needed */
}