body {
    background-color: rgb(0, 1, 70);
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    width: 90%; 
    margin: 0 auto; 
    text-align: left;
}

header {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    vertical-align: middle;
    height: 100px;
    margin-right: 10px;
}

.line {
    border: 1px solid white; 
    margin-top: 20px;
    margin-bottom: 40px;
}

.content {
    margin: 20px;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    margin-bottom: 40px; 
}

.reverse {
    grid-template-areas: "text image"; 
}

.reverse .text-content {
    grid-area: text;
}

.reverse .p2 {
    grid-area: image;
}

.home, .p2 {
    width: 100%; 
    height: auto;
    background-color: white; 
}

.text-content {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin: 0; 
}

.text-content p {
    margin-top: 10px; 
    margin-bottom: 20px; 
    line-height: 2.2; 
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.text-content p br {
    content: "";
    display: block;
    margin-bottom: 20px;
}
