* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #000000;
    font-family:'Courier New', Courier, monospace;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    /*top right bottom left*/
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.title {
    background-color:black;
    color: white;
    text-align:center;
    padding:20px;
}

.content {
    width: 900px;
    margin: 0 auto 0 auto;
    position: relative;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color:rgb(154, 128, 179);
    width: 400px;
}
.first {
    background-color:rgb(192, 192, 255);
    position:absolute;
    top: 0px;
    right: 0px;
}
.second {
    background-color:rgb(184, 253, 176);
    position: absolute;
    top: 200px;
    left: 0px;
}
.third{
    background-color:rgb(255, 198, 198);
    position: absolute;   
    top: 400px;
    right: 0px;

}
.fourth{
    background-color:rgb(255, 166, 243);
    position: absolute;
    top: 600px;
    left: 0px;
}
.fifth {
    background-color:rgb(192, 192, 255);
    position:absolute;
    top: 800px;
    right: 0px;
}
.sixth {
    background-color:rgb(184, 253, 176);
    position: absolute;
    top: 1000px;
    left: 0px;
}
.seventh{
    background-color:rgb(255, 198, 198);
    position: absolute;   
    top: 1200px;
    right: 0px;

}
.eighth{
    background-color:rgb(255, 166, 243);
    position: absolute;
    top: 1400px;
    left: 0px;
}
.ninth {
    background-color:rgb(192, 192, 255);
    position:absolute;
    top: 1600px;
    right: 0px;
}
.tenth {
    background-color:rgb(184, 253, 176);
    position: absolute;
    top: 1800px;
    left: 0px;
}
.pic1{
    width:200px;
    height: auto;
    position: absolute;
    left:200px;
    top: 465px;
    border: 1px solid pink;
}

.pic2{
    width:200px;
    height: auto;
    position: absolute;
    right:200px;
    top: 270px;
    border: 1px solid rgb(0, 255, 34);
}

.pic3{
    width:200px;
    height: auto;
    position: absolute;
    right:500px;
    top: 40px;
    border: 1px solid rgb(162, 0, 255);
}

.pic4{
    width:200px;
    height: auto;
    position: absolute;
    right:200px;
    top: 640px;
    border: 1px solid rgb(255, 0, 179);
}
.pic5{
    width:200px;
    height: auto;
    position: absolute;
    left:200px;
    top: 840px;
    border: 1px solid rgb(183, 0, 255);
}

.pic6{
    width:200px;
    height: auto;
    position: absolute;
    right:200px;
    top: 1050px;
    border: 1px solid rgb(0, 255, 34);
}

.pic7{
    width:200px;
    height: auto;
    position: absolute;
    right:500px;
    top: 1250px;
    border: 1px solid rgb(255, 157, 157);
}

.pic8{
    width:200px;
    height: auto;
    position: absolute;
    right:200px;
    top: 1450px;
    border: 1px solid rgb(255, 116, 213);
}
.pic9{
    width:200px;
    height: auto;
    position: absolute;
    right:500px;
    top: 1650px;
    border: 1px solid rgb(186, 113, 255);
}

.pic10{
    width:200px;
    height: auto;
    position: absolute;
    right:200px;
    top: 1850px;
    border: 1px solid rgb(100, 255, 121);
}